@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mackinac Pro Bold";
  src: url("fonts/bold/font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Mackinac Pro Medium";
  src: url("fonts/medium/font.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mackinac Pro Book";
  src: url("fonts/book/font.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  @apply text-gray-900 font-body;
}

body {
  touch-action: pan-y;
}

p, ol, ul, blockquote, pre, code {
  line-height: 18px;
  margin-bottom: 18px;
  line-height: 1.5em;
  margin-bottom: 1.5em;

}

.font-book {
  letter-spacing: 0.5px;
}

.navWhite .nuxt-link-exact-active{
  
      @apply underline  underline-offset-[3px] ;
  
}

.navBlack .nuxt-link-exact-active{
  @apply underline  underline-offset-[3px];
}

@media only screen and (max-width: 768px) {
  .navMenu .nuxt-link-exact-active {
    @apply underline  underline-offset-[3px];
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 2em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.wp-block-cover {
  border: blue 3px dashed;
  position: relative;
  height: 300px;
  width: 100%;
  display: block
}

.wp-block-cover__inner-container, .wp-block-cover__image-background {
  z-index: 10;
  background-color: red;
  display: block;
  position: absolute;
  transform: translate(50%, 50%);
  top: -50%;
  left: -50%;
}

.has-background-dim {
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;

}

.wp-block-separator {
  height: 50px;
}


.has-text-align-center {
  @apply text-center
}

.has-text-align-right {
  @apply text-right
}